
section {
    background-color: #ffffff;
}

header {
    background-color: #028482;
}

nav {
    background-color: #f0f8ff;
}

nav a {
    color: #028482;
}

table {
    background-color: #f9f9f9;
}

footer {
    background-color: #028482;
}
